.companies{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.companies_title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.companies_logos{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.company_logo{
    width: 110px;  
    height: 60px; 
    object-fit: cover;
    opacity: 1;
    transition: 0.3s, ease, opacity 0.3s ease;
}

.company_logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}