.media_section{
    text-align: center;
    padding: 50px 0;
    background-color: rgb(254, 252, 255, 0.8);
}

.media_section h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.media_carousel{
    width: 95vw;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 0 2vw;

}

.media_slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color:  #FEFCFF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(26, 26, 26, 0.1);
}

.media_slide img {
    width: 100%;
    /*max-width: 400px;*/
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.media_slide h3 {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}
/* Destaque no slide do centro */
.swiper-slide-active {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

/* Estilo dos botões laterais */
.swiper-button-prev,
.swiper-button-next {
    color: rgb(26, 26, 26, 0.3) ;  /* Cor discreta */
    transition: color 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: black; /* Destaque ao passar o mouse */
}

/* Garantindo que os botões fiquem visíveis */
.swiper-button-prev,
.swiper-button-next {
    color: rgb(26, 26, 26, 0.3);  /* Cor neutra para ficar discreto */
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(254, 255, 255, 0.6);  /* Fundo levemente visível */
    border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: black; /* Destaque ao passar o mouse */
    background: rgba(254, 255, 255, 0.9);
}

/* Ajustando para telas menores */
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px; /* Ajusta o tamanho do ícone */
    color: rgb(26, 26, 26, 0.3); /* Cor discreta */
    font-weight: bold;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: black; /* Cor ao passar o mouse */
}

.read-more-button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #1a1a1a;
    color: #FEFCFF;
    border-radius: 8px;
    transition: 0.3s;
    
  }
  
  .read-more-button:hover {
    background-color: #000427;
    color: #FEFCFF;
  }
  